@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.font{
    font-family: 'Shadows Into Light', cursive;
}

.mainContainer{
    /* background-color: rgb(38, 0, 255); */

    height: 100vh;
    text-align:center
    
    
}
.containers{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
   
}
.header{
    
    width: 100vw;
    
}
.body{
    
    overflow: hidden;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.frase{
    color:black;
    font-size: 10px;
    
}
.sub{
    color:black;
    font-size: 40px;
    
    
}
.footer{
    background-color: rgba(255, 255, 255, 0.541)
}

.button{
    background: transparent;
    color: black;
    border-color: black;
    border-width: 3px;
    padding: 5px;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Shadows Into Light', cursive;
}
.button:hover {
    background-color:  rgba(255, 255, 255, 0.452);
    color: black;
}
.circleDiv{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 161px;
    
}
.circle{
    border-radius: 50px;
    width: 15px;
    height: 15px;
    background-color: black;
    box-shadow: 2px 2px 2px  1px rgba(83, 81, 81, 20);
}
.circle:hover {
    background-color: white;
    
}

.input{
    width: 300px;
    height: 40px;
    background-color:  rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    
}
.inputError{
    color: red;
    font-weight: bold; 
    
}